##########################
### Default Parameters ###
##########################

#Your Cloudflare API token that has permissions to read DNS zone data 
cloudFlareAPIToken="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# Default path for log file and temp files.
logDir="./.log"
tmpDir="./.tmp"
backupTmpDir="./.backupTemp"

# Specify location to store completed backups
backupDir="./backups"

# Max number of DNS zones to discover
zoneLimit="300"

#Zone Files to Exclude - add the Zone Name and corresponding Zone ID - reference zoneList.data to find these values
FLAGS=(-e "Free Website" -e "0feeeeeeeeeeeeeeeeeeeeeeeeeeeeee")


################################
### Usefull debugging params ###
################################
# Set to "false" to prevent the purge of temp backup files
rmTmpBackup="true"

# Set to "false" to prevent the purge of temp zone file data
rmZoneData="true"

# Set to "false" to prevent log file purge
rmLog="false"

# Set to "false" to prevent purge of all temp and log files
runCleanup="true"


#####################
### Future Params ###
#####################

# Number of backup files to retain
# retentionCount="5"

# Copy to FTP server
# ftpTransfer="true"

# FTP Server name
# ftpServer="example.com"
